.header-logo {
    margin: 25px;
}

.header-inner {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 85px;
}
.search_form {
    width: 30vw;
    margin-top: 18px;
    padding: 15px;
}

.header-link {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
}

.header-link-item {
    margin: 10px;
}

.logout-btn,
.mypage-btn {
    background: none;
    border: none;
    color: white;
}

.sell-btn {
    padding-left: 10px;
    padding-right: 10px;
}


/* PC (1400px〜1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {

}

/* タブレット (768px〜850px) */
@media (min-width: 768px) and (max-width: 850px) {
    img {
        size: 50%;
    }
    .header-inner {
        height: 30%;
    }
    .header-link {
        margin-right: 10px;
    }
}